# Please copy and rename it from .env.example to .env
# Added default values for faster deployment
PORT=3001
DB_PORT=5434
DB_NAME=db_mayan
DB_USER=mayan
DB_PASSWORD=mayan
DATABASE_URL=postgres://mayan:mayan@127.0.0.1:5434/db_mayan